*body{
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.header{
  background-color: rgb(223, 176, 48);
  margin-bottom: 30px;
}
.title-page h1{
  font-size: 100px;
  text-transform: uppercase;
  text-shadow: 2px 4px white;
}
.header .logo{
  margin-top: 10px;
}
.logo img{
  width: 120px;
  height: 120px;
  border: 5px solid lightblue;
  border-radius: 50%;
}
.logo img:hover{
  border: 5px solid white;
}
.navbar ul{
  font-size: 30px;
}
.navbar ul li:hover{
  background-color: white;
  border-radius: 10px;
}
.navbar ul li{
  padding-right: 20px;
}
#drop-choices li{
  font-size: 15px;
}
.main{
  height: 100%;
}
.map h3{
  font-size: 30px;
  text-transform: uppercase;
  text-shadow: 1px 2px black;
  text-align: center;
}
.map img{
  width: 100%;
  height: 100%;
}
.map p{
  font-size: 15px;
}
.about article{
  width: 100%;
}
.about h1{
  font-size: 30px;
  text-transform: uppercase;
  text-shadow: 1px 2px black;
  text-align: center;
}
.about p{
  font-size: 20px;
}
.feature-model{
  width: 100%;
  height: 100%;
}
.feature-model video{
  width: 100%;
}
.features h1{
  font-size: 30px;
  text-transform: uppercase;
  text-shadow: 1px 2px black;
}
.card-body h3{
  font-size: 20px;
  text-transform: capitalize;
}
.card-body p{
  font-size: 15px;
}
.table td{
  font-size: 12px;
}
.footer{
  height: 100%;
}
.footer h1{
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: 1px 2px rgba(158, 118, 9, 0.466);
}
.footer h6{
  font-size: 15px;
}
.footer a{
  text-decoration: none;
}
.footer svg{
  width: 30px;
  height: 30px;
}
.footer button{
  width: 150px;
  font-size: 12px;
}
.footer button:hover{
  background-color: white;
  color: black;
}
.footer h4{
  font-size: 20px;
}
.footer b{
  font-size: 12px;
}

@media only screen and (max-width:768px){
  .header{
    margin-bottom: 20px;
  }
  .title-page h1{
    text-align: center;
    font-size: 50px;
  }
  .header .logo{
    margin-top: 10px;
  }
  .logo img{
    width: 80px;
    height: 80px;
  }
  .navbar ul{
    font-size: 20px;
  }
  .map h3{
    font-size: 15px;
    text-shadow: none;
  }
  .map p{
    font-size: 12px;
  }
  .about h1{
    font-size: 15px;
    text-shadow: none;
  }
  .about p{
    font-size: 12px;
  }
  .feature-model img{
    height: 250px;
  }
  .features h1{
    font-size: 15px;
    text-shadow: none;
  }
  .card-body h3{
    font-size: 12px;
  }
  .card-body p{
    font-size: 10px;
  }
  .features .card-footer{
    display: none;
  }
  .footer h1{
    font-size: 15px;
  }
  .footer h6{
    font-size: 12px;
  }
  .footer svg{
    width: 15px;
    height: 15px;
  }
  .footer button{
    width: 100px;
    height: 50px;
    font-size: 10px;
  }
  .footer button:hover{
    background-color: white;
    color: black;
  }
  .footer h4{
    font-size: 15px;
  }
  .footer b{
    font-size: 12px;
  }
}
@media only screen and (max-width: 425px){
  .header{
    margin-bottom: 10px;
  }
  .title-page h1{
    text-align: center;
    font-size: 30px;
    text-shadow: none;
  }
  .header .logo{
    margin-top: 5px;
  }
  .logo img{
    width: 45px;
    height: 45px;
  }
  .navbar button{
    height: 20px;
    width: 20px;
  }
  .navbar ul{
    font-size: 10px;
  }
  #drop-choices li{
    font-size: 8px;
  }
  .map h3{
    font-size: 10px;
    text-shadow: none;
  }
  .map p{
    font-size: 6px;
  }
  .about h1{
    font-size: 10px;
    text-shadow: none;
  }
  .about p{
    font-size: 6px;
  }
  .feature-model img{
    height: 150px;
  }
  .features h1{
    font-size: 10px;
    text-shadow: none;
  }
  .card-body h3{
    font-size: 8px;
  }
  .card-body p{
    font-size: 6px;
  }
  .footer h1{
    font-size: 10px;
  }
  .footer h6{
    font-size: 8px;
  }
  .footer svg{
    width: 15px;
    height: 15px;
  }
  .footer button{
    text-align: center;
    width: auto;
    height: auto;
    font-size: 8px;
  }
  .footer button:hover{
    background-color: white;
    color: black;
  }
  .footer h4{
    font-size: 10px;
  }
  .footer b{
    font-size: 6px;
  }
}