*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
body{
    background-image: url(bin\car.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.page-title{
    margin: 0px 50px 0px 150px;
}
.page-title h1{
    font-size: 150px;
    text-shadow: 4px 6px black;
}
.page-title h2{
    font-size: 50px;
    text-shadow: 1px 2px black;
}
.row .login-form{
    margin-top: 150px;
}
.login-form form{
    background-color: #df905bbd;
    width: 500px;
}
@media only screen and (max-width: 768px){
    body{
        background-image: none;
        background-color: whitesmoke;
    }
}