.navbar{
  background-color: white;
  height: 100%;
  width: 100%;
}
.header h1{
  font-size: 70px;
  text-transform: uppercase;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 2px 4px rgba(158, 118, 9, 0.466);
}
.navbar ul{
  margin: 30px 10px 0px 10px;
  font-size: 25px;
}
.navbar ul li:hover{
  background-color: rgba(158, 118, 9, 0.274);
  border-radius: 10px;
}
.navbar ul li{
  padding-right: 20px;
}
#drop-choices li{
  font-size: 15px;
}
.header img{
  width: 120px;
  height: 120px;
  border: 5px solid lightblue;
  border-radius: 50%;
}
.header img:hover{
  border: solid rgba(158, 118, 9, 0.466);
}
.main{
  height: 100%;
}
.side-article{
  background-color: rgba(158, 118, 9, 0.274);
  border-radius: 10px;
  height: 100%;
  width: 100%;
}
.side-article h1{
  font-size: 30px;
  text-transform: uppercase;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 1px 2px white;
  text-align: center;
}
.map{
  background-color: rgba(158, 118, 9, 0.274);
  border-radius: 10px;
  width: 100%;
}
.map h3{
  font-size: 30px;
  text-transform: uppercase;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 1px 2px white;
  text-align: center;
}
.map img{
  width: 100%;
  height: 85%;
}
.features{
  background-color: rgba(158, 118, 9, 0.274);
  border-radius: 10px;
  width: 100%;
}
.features h1{
  font-size: 30px;
  text-transform: uppercase;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 1px 2px white;
}
.features h3{
  font-size: 20px;
  text-transform: uppercase;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 1px 2px white;
}
table tr{
  font-size: 12px;
}
.feature-model{
  width: 100%;
  height: 100%;
}
.feature-model video{
  width: 100%;
}
.feature-model img{
  width: 100%;
  height: 400px;
}
.footer{
  height: 100px;
}
.footer h1{
  font-size: 35px;
  text-transform: uppercase;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 2px 4px rgba(158, 118, 9, 0.466);
}
.footer button{
  width: 150px;
  padding: 3px;
  font-size: 15px;
}
.footer button:hover{
  background-color: white;
  color: black;
}
.footer h4{
  font-size: 20px;
}
.footer b{
  font-size: 12px;
}

@media only screen and (max-width:768px){
  .header{
    width: 100%;
  }
  .header h1{
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 2px rgba(158, 118, 9, 0.466);
  }
  .navbar button{
    display: block;
    height: 50px;
    width: 20%;
  }
  .navbar ul li{
    font-size: 12px;
  }
  #drop-choices{
    height: fit-content;
    width: fit-content;
  }
  #drop-choices li{
    font-size: 10px;
  }
  .header img{
    display: none;
  }
  .main .side-article{
    width: 98%;
    margin: 2px 5px 2px 5px;
  }
  .side-article h1{
    font-size: 15px;
    padding-top: 10px;
  }
  .side-article p{
    font-size: 12px;

  }
  .map h3{
    font-size: 15px;
  }
  .map img{
    width: 100%;
    height: 85%;
  }
  .features{
    display: none;
  }
  .feature-model video{
    height: 100%;
  }
  .feature-model img{
    height: 100%;
  }
  .footer h1{
    font-size: 15px;
  }
  .footer h6{
    font-size: 10px;
  }
  .footer button{
    width: 100px;
    padding: 3px;
    font-size: 10px;
  }
  .footer h4{
    font-size: 12px;
  }
  .footer b{
    font-size: 10px;
  }
}