*{
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.header{
  background-image: url(bin/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  background-attachment: fixed;
}
.logo img{
  width: 100px;
  height: 100px;
  border: 3px solid #df905b;
  border-radius: 50%;
  margin-right: 20px;
}
.logo img:hover{
  border: 2px solid white;
}
.navbar-nav{
  font-size: 30px;
}
li:hover{
  background-color: white;
  border-radius: 10px;
}
.navbar ul li{
  padding-right: 20px;
}
#drop-choices li{
  font-size: 20px;
}
.map h3{
  font-size: 30px;
  color: #df905b;
  text-transform: uppercase;
  text-shadow: 1px 1px black;
  text-align: center;
}
.map img{
  width: 100%;
  height: 100%;
}
.map p{
  font-size: 15px;
}
.about{
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
}
.about h1{
  font-size: 30px;
  color: #df905b;
  text-transform: uppercase;
  text-shadow: 1px 1px black;
  text-align: center;
}
.about p{
  font-size: 20px;
  text-indent: 1rem;
}
.feature-model h1{
  font-size: 30px;
  color: #df905b;
  text-transform: uppercase;
  text-shadow: 1px 1px black;
  text-align: center;
}
.feature-model{
  width: 100%;
  height: 100%;
}
.feature-model h1{
  font-size: 30px;
  color: #df905b;
  text-transform: uppercase;
  text-shadow: 1px 1px black;
}
.feature-model video{
  width: 100%;
}
.feature-model img{
  height: 500px;
}
.features h1{
  font-size: 30px;
  color: #df905b;
  text-transform: uppercase;
  text-shadow: 1px 1px black;
  text-align: center;
}
.card-body h3{
  font-size: 20px;
  text-transform: capitalize;
}
.card-body p{
  font-size: 15px;
}
.table td{
  font-size: 12px;
}
.footer{
  height: 100%;
}
.footer h1{
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: 1px 2px rgba(158, 118, 9, 0.466);
}
.footer h6{
  font-size: 15px;
}
.footer a{
  text-decoration: none;
}
.footer svg{
  width: 30px;
  height: 30px;
}
.footer button{
  width: 150px;
  font-size: 12px;
}
.footer button:hover{
  background-color: white;
  color: black;
}
.footer h4{
  font-size: 20px;
}
.footer b{
  font-size: 12px;
}
@media only screen and (max-width:768px){
  .header{
    margin-bottom: 20px;
  }
  .logo img{
    width: 80px;
    height: 80px;
  }
  .navbar button{
    height: 50px;
    width: 50px;
  }
  .navbar ul{
    font-size: 20px;
  }
  .map h3{
    font-size: medium;
    text-shadow: none;
  }
  .map p{
    font-size: xx-small;
  }
  .about h1{
    font-size: larger;
    text-shadow: none;
  }
  .about p{
    font-size: small;
  }
  .feature-model h1{
    font-size: larger;
    text-shadow: none;
  }
  .feature-model img{
    height: 250px;
  }
  .features h1{
    font-size: larger;
    text-shadow: none;
  }
  .card-body h3{
    font-size: 12px;
  }
  .card-body p{
    font-size: 10px;
  }
  .footer h1{
    font-size: 15px;
  }
  .footer h6{
    font-size: 12px;
  }
  .footer svg{
    width: 15px;
    height: 15px;
  }
  .footer button{
    width: 100px;
    height: 50px;
    font-size: 10px;
  }
  .footer button:hover{
    background-color: white;
    color: black;
  }
  .footer h4{
    font-size: 15px;
  }
  .footer b{
    font-size: 12px;
  }
}
@media only screen and (max-width: 425px){
  .logo img{
    width: 80px;
    height: 80px;
  }
  .navbar button{
    height: 30px;
    width: 30px;
  }
  .navbar ul{
    font-size: 15px;
  }
  #drop-choices li{
    font-size: 12px;
  }
  .feature-model img{
    height: 150px;
  }
  .footer h1{
    font-size: 10px;
  }
  .footer h6{
    font-size: 8px;
  }
  .footer svg{
    width: 15px;
    height: 15px;
  }
  .footer button{
    text-align: center;
    width: auto;
    height: auto;
    font-size: 8px;
  }
  .footer button:hover{
    background-color: white;
    color: black;
  }
  .footer h4{
    font-size: 10px;
  }
  .footer b{
    font-size: 6px;
  }
}