.header{
    background-color: aqua;
    height: 400px;
}
.header img{
    height: 150px;
    width: 150px;
    margin: 200px 0px 0px 30px;
    border: 5px solid gray;
    border-radius: 50%;
}
.header svg{
    margin-top: 300px;
}
.header svg:hover{
    
}